page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .item-detail p{
    padding: 10px 10px 10px 10px;
    text-align: justify;
  }

  .img-footer{
    background-color: rgba(255,255,255,0.45);
    position: relative;
    bottom: -85%;
    height: 37px;
  }

  .titulo {
    float: left;
    font-size: 18px;
    margin-top: -10px;
    padding-left: 10px;
    font-weight: 500;
  }
  .preco{
    float: right;
    font-size: 18px;
    margin-top: -10px;
    padding-right: 20px;
    font-weight: 500;
  }

  ion-item{
    border-top: 0px!important;
    border-bottom: 0px!important;
  }

  ion-item p{
    float: left;
    color: black;
  }

  ion-label{
    font-weight: 800;
    font-size: 14px;
  }

.toolbar-background{
  background-color: black;
}
.toolbar-title{
  color: white;
}

  ion-toast{
    background-color: red!important;
   font-weight: bold;
  }
}
