<ion-content no-bounce>
<!-- <ion-content no-bounce *ngStyle="{'background-image': 'url('+ imagemFundo +')' || none }"> -->
  <div class="overlay">

    <div class="conteudo" *ngIf="mesa">
      <p class="label">Você está em...</p>
      <p class="estabelecimento"> {{mesa?.estabelecimento.nomeEstabelecimento}} </p>
      <ion-input class="input-nome" placeholder="Escreva seu nome..." clearInput [(ngModel)]="username" text-center></ion-input>
      <button ion-button  [disabled]="username?.length < 3" (click)="abrirCardapioDia(mesa?.codigoMesa)">Ver cardápio</button>
    </div>
    <div *ngIf="erro">
      <p class="erro">
       <img class="signal-icon" src="assets/img/signal.svg" /> <br/>
        {{erro}}
      <button ion-button  (click)="tentarNovamente()">Tentar novamente</button>
      </p>
    </div>
    <div *ngIf="desconhecido">
      <p class="erro">
       <img class="signal-icon" src="assets/img/desconhecido.svg" /> <br/>
        {{desconhecido}}
      <button ion-button  (click)="tentarNovamente()">Tentar novamente</button>
      </p>
    </div>

  </div>
</ion-content>
