//GLOBAL LOADING

.overlay-background-loading{
  background-color: rgba(0, 0, 0, 0.75);
  width:100vh;
  height:100vh;
  text-align: center;
  padding-top: 40%;
  p{
    font-weight: 800;
    color: white;
  }
}
