

<ion-header>
  <ion-navbar color="black">
  </ion-navbar>
</ion-header>

<ion-content fullscreen>



      <ion-segment [(ngModel)]="selecao">
          <ion-segment-button value="1" (ionSelect)="atualizar(1)">
              Todos
          </ion-segment-button>
          <ion-segment-button value="2" (ionSelect)="atualizar(2)">
              Promoções
          </ion-segment-button>
      </ion-segment>
    <div class="sem-registro" *ngIf="currentItems.length === 0">
      <p>Testes fsafsa</p>
    </div>

    <ion-card *ngFor="let item of currentItems" (click)="openItem(item)" >
        <div style="background-image: url('assets/img/speakers/foto-prato.jpeg');width: 100%;height: 100px;">
          <div style="background-color: rgba(0,0,0, 0.5);z-index: 99;width: 100%;height: 100px; text-align: center;padding-top: 5%">
            <span style="color: white;font-weight: 600;font-size: 18px;">{{item.nomeProduto}}</span><br/>
            <span style="color: white;font-size: 12px;">{{item.descricaoProduto}}</span> <br/>
            <span style="color: white;font-size: 16px;"><Strong>{{item.valorProduto}}</Strong></span>
          </div>
        </div>
    </ion-card>

</ion-content>
