page-list-master {
      ion-card{
        margin: 0!important;
        margin-bottom: 1px!important;
       width: 100%!important;
      }

      .sem-registro{
          text-align: center;
          padding-top: 40%;
          img{
            width: 40%;
            opacity: 0.4;
          }
          p{
            opacity: 0.4;
          }
      }

}
