page-list-master {
      ion-card{
        margin: 0!important;
        margin-bottom: 1px!important;
       width: 100%!important;
      }

      .sem-registro{
          text-align: center;
          padding-top: 40%;
      }

}
